* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: rgb(44, 43, 43);
}
body {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.heading {
  color: white;
  margin: 0.4rem;
}
.container {
  min-width: 30rem;
  padding: 20px;
  border-radius: 2rem;
  margin: auto;
  background: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}
.btn {
  margin: 0.8rem;
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  background: transparent;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.1);
  transition: all 0.3s ease-in-out;
}
.input-text {
  width: 90%;
  padding: 1.5rem;
  border: none;
  margin: 0.8rem;
  font-size: 2rem;
  color: white;
  text-align: right;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.1);
  outline: none;
  pointer-events: none;
}
input::placeholder {
  color: white;
}
.equal {
  background-color: rgb(223, 156, 30);
}
.operator {
  color: aquamarine;
}

.btn:hover {
  background: white;
  color: black;
}
